{# Шаблон профиля #}


{% extends 'layout/base_layout.html' %}


{%block header%} <h3 class="text-center"> Список пользователей - участников проекта  </h3> {%endblock%}

{# Заполнение основного контента #}
{%block main %}

<div class="container-fluid">
    
    <div class="row">
    {% for row in rows %}

            <div class="col-md-6 col-lg-6 col-sm-12 mb-2">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0"> {{row.full_name}} </h5>
                            <small> <strong>Логин  {{row.username}} </strong> </small>
                        <div >
                        </div>
                    </div>
                    
                    <div class="card-body" style="font-size:0.7rem;" >
                        <div>
                            <h6 class="card-subtitle" >Статус: {{row.status}}</h6>
                            <div class="w-100">
                                Лимит подкл.: <strong class="font-weight-bold">{{row.status_perm}}</strong>
                            </div>
                        </div>

                        <div class="row mb-3 mt-3">

                            <div class="row w-100">
                                <div class="col-4 text-right">ID комп.</div>
                                <div class="col-8 text-left">{{row.idcomp}}</div>
                            </div>
                            <div class="row w-100">
                                <div class="col-4 text-right">email</div>
                                <div class="col-8 text-left p-x-0">{{row.email}}</div>
                            </div>
                            <div class="row w-100">
                                <div class="col-4 text-right">Телефон</div>
                                <div class="col-8 text-left">{{row.phone}}</div>
                            </div>

                            <div class="w-100 mt-1"></div>
                            <div class="row w-100">
                                <div class="col-4 text-right">Возр. гр.</div>
                                <div class="col-8 text-left">{{row.ageGroup}}</div>
                            </div>

                            <div class="row w-100">
                                <div class="col-4 text-right">Почт. индекс</div>
                                <div class="col-8 text-left">{{row.post}}</div>
                            </div>

                            <div class="row w-100">
                                <div class="col-4 text-right">Логин quest</div>
                                <div class="col-8 text-left">{{row.logincl}}</div>
                            </div>

                        </div>

                    </div>

                    <div class="card-footer">
                    <a href="{% url 'updmesdata' mes=row.username %}" class="card-link" >Изменить профиль</a>

                    </div>

                </div>
            </div>            

    {% endfor %}
    </div>

    <div class="mb-2 mt-2">
        <span class="mr-2" > выбрана {{dc_page.sel_page}} (из {{dc_page.num_pages}}) </span>
        {% for page in num_pages %}
            <a href="?page={{page}}">{{page}}</a>
        {% endfor %}

        {#{"num_rows": 5, "sel_page": 2, "num_count": 14, "num_pages": 3}#} 
    </div>

    <div class="mt-2">
        <a class="text-info" href="{% url 'addprof_member' %}" >Создать профиль менеджера</a>
    </div>

</div>

{%endblock main%}